<a href="https://colab.research.google.com/github/rskarbez/colab_notebooks/blob/main/22March2023_Consultation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list_1 = [1, 2, 3, 4, 5]
list_2 = list(range(1, 6))
print(list_1)
print(list_2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [3]:
list_3 = ['this is a string', 42, 3.14, (1, 2, 3)]

In [4]:
for item in list_3:
  print(item)
print(list_3)

this is a string
42
3.14
(1, 2, 3)
['this is a string', 42, 3.14, (1, 2, 3)]

In [5]:
def print_list_elements(in_list):
  for item in in_list:
    print(item)

In [6]:
print_list_elements(list_1)

1
2
3
4
5

In [7]:
print_list_elements(list_3)

this is a string
42
3.14
(1, 2, 3)

In [8]:
len(list_1)

5

In [10]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [11]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
for i in range(len(list_1)):
  print(i)

0
1
2
3
4

In [13]:
for i in range(len(list_3)):
  print(i, ' : ', list_3[i])

0  :  this is a string
1  :  42
2  :  3.14
3  :  (1, 2, 3)

In [16]:
for i in range(list_3):
  print(i)

TypeError: ignored

In [15]:
for (index, x) in enumerate(list_3):
  print(index, ' : ', x)

0  :  this is a string
1  :  42
2  :  3.14
3  :  (1, 2, 3)

In [17]:
width = 5
for num in range(16):
  for base in 'dxob':
    print('{0:{width}{base}}'.format(num, base=base, width=width), end = ' ')
  print()

    0     0     0     0
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     a    12  1010
   11     b    13  1011
   12     c    14  1100
   13     d    15  1101
   14     e    16  1110
   15     f    17  1111

In [21]:
for i in range(5):
  for j in 'abcde':
    print(i, j, end = '')
  print('Done with inner loop')
print('Done with outer loop')

0 a0 b0 c0 d0 eDone with inner loop
1 a1 b1 c1 d1 eDone with inner loop
2 a2 b2 c2 d2 eDone with inner loop
3 a3 b3 c3 d3 eDone with inner loop
4 a4 b4 c4 d4 eDone with inner loop
Done with outer loop

In [22]:
for i in range(10):
  for j in range(i):
    print(j, end=' ')
  print('Done with inner loop')
print('Done with outer loop)')

Done with inner loop
0 Done with inner loop
0 1 Done with inner loop
0 1 2 Done with inner loop
0 1 2 3 Done with inner loop
0 1 2 3 4 Done with inner loop
0 1 2 3 4 5 Done with inner loop
0 1 2 3 4 5 6 Done with inner loop
0 1 2 3 4 5 6 7 Done with inner loop
0 1 2 3 4 5 6 7 8 Done with inner loop
Done with outer loop)

In [23]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [24]:
def factorial(n):
  if n < 2:
    return 1
  return n * factorial(n-1)

In [25]:
print(factorial(3))

6

In [26]:
print(factorial(5))

120

In [34]:
%%timeit
fac_list_1 = []
for i in list_1:
  fac_list_1.append(factorial(i))
#print(fac_list_1)

2.14 µs ± 77.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [35]:
%%timeit
fac_list_2 = [factorial(n) for n in list_1]
#print(fac_list_2)

2.27 µs ± 372 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [37]:
%%timeit
fac_list_3 = map(factorial, list_1)
#print(fac_list_3)

203 ns ± 51.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [38]:
list_inf = [i for i in range(100000000)]

In [39]:
len(list_inf)

100000000

In [40]:
range_inf = range(100000000)