<a href="https://colab.research.google.com/github/rskarbez/colab_notebooks/blob/main/Week2_1-Jan2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ricks_favourite_number = 12
the_answer = 42

In [2]:
print(ricks_favourite_number)

12

In [7]:
print(3.14159)

3.14159

In [6]:
if ricks_favourite_number > 10:
  print("That's a big number!")

That's a big number!

In [5]:
if ricks_favourite_number < 1:
  print('That's a tiny number.')

SyntaxError: ignored

In [8]:
string_1 = 'This is a string'
string_2 = "This is a string"
print(string_1 == string_2)

True

In [10]:
string_3 = '"It was the best of times, it was the worst of times."'
print(string_3)

"It was the best of times, it was the worst of times."

In [11]:
string_4 = "\"It was the winter of our discontent.\""
print(string_4)

"It was the winter of our discontent."

In [12]:
if ricks_favourite_number > 10:
  print('The number times 2 is: ', ricks_favourite_number * 2)
  print('The negative number is: ', ricks_favourite_number * -1)
  print('Here')
  print('are')
  print('some')
  print('more')
  print('things.')

The number times 2 is:  24
The negative number is:  -12
Here
are
some
more
things.

In [13]:
if ricks_favourite_number < 10:
  print('The number times 2 is: ', ricks_favourite_number * 2)
  print('The negative number is: ', ricks_favourite_number * -1)
  print('Here')
  print('are')
  print('some')
  print('more')
  print('things.')

In [14]:
if ricks_favourite_number == the_answer:
  print('You have found the answer to life, the universe, and everything!')
else:
  print('Sorry, no luck this time')

Sorry, no luck this time

In [16]:
x = 5

x = 17

x = 234567
print(x)

234567

In [18]:
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

In [19]:
my_tuple = (1, 2, 3)
my_list = [1, 2, 3]
print(my_tuple)
print(my_list)

(1, 2, 3)
[1, 2, 3]

In [20]:
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [21]:
my_tuple.append(4)

AttributeError: ignored

In [27]:
test = int(input())

if test < the_answer:
  print('Too small!')
elif test > the_answer:
  print('Too big!')
else:
  print('You got it!')

forty-two

ValueError: ignored

In [30]:
test = int(input())

if test > 0:
  # Do something
  print('test is positive')
  if test % 2 == 0:
    print('test is even')
  else:
    print('test is odd')
elif test == 0:
  # Do something else
  print('test is equal to zero')
else:
  # test is negative
  # Do a third thing
  print('test is negative')
  if test % 10 == 0:
    print('test is a multiple of ten')
  else:
    print('test is NOT a multiple of ten')

-100
test is negative
test is a multiple of ten

In [38]:
i = 1
while i < 10000000:
  #if i % 100000 == 0:
  print(i)
  i = i * 2

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576
2097152
4194304
8388608

In [ ]:
i = 0
while i < 10000000:
  if i % 100000 == 0:
    print(i)

In [ ]:
while True:
  break

In [39]:
i = 1234567890
while i < 10000000:
  if i % 100000 == 0:
    print(i)

In [44]:
for num in range(50, 100):
  if num % 2 == 0:
    print(num)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [46]:
for num in range(50, 101, 2):
  print(num)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [49]:
num = 1
while num <= 100:
  if num % 2 == 0:
    print(num)
  num *= 2 # num = num * 2

2
4
8
16
32
64

In [50]:
num = 100
while num >= 0:
  print(num)
  num = num - 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [52]:
for i in range(100, 0, -1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [53]:
print(string_1)

for character in string_1:
  print(character)

This is a string
T
h
i
s

i
s

a

s
t
r
i
n
g

In [54]:
print(my_list)

for element in my_list:
  print(element)

[1, 2, 3, 4]
1
2
3
4

In [55]:
print(my_tuple)

for element in my_tuple:
  print(element)

(1, 2, 3)
1
2
3

In [31]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> version
No Python documentation found for 'version'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.